language: python
python:
- 3.8
services:
- postgresql
install:
- psql -c 'create database django_db owner postgres;' -U postgres
- pip install -r requirements.txt
script:
- python manage.py migrate
- python manage.py test shop/tests/
deploy:
  provider: heroku
  api_key:
    secure: mPaaMYOJ0x4W68w/MNgTMD0UgbUJL1dDSSNy/FdHjK3CygqbUhRjC0u0tT6YRJOnPY5wmv8SYvhHgo9vGnTfM5f2zSX+N/BchCD/39GbxgAfrJ2wo3KTiF8zlihs7+l7FInriWPe6lkogJD7APNkIsT24jxvrNgcKkHvGsG/stZXK4Fq/5GNRqzOHsjoqNgUIS1+8w8qWDIEb8jF24155aqiE9lTwzD1jY9tpREB4iIvTlPldM+A29mzipNxPaz0QsR5dHLzkGXK5VsWlAsyfRnnRYbqhaB4cBrX0TBBkUcSLC0Y3n2hDiKXkbRW1xD+Ho1mJZEGXXZAeJDcG2E05V+6sAEWGHqlv+ez380j8qgl2WT/XAMiAD45au9JjX5QUtJRpFTQCAnsEICeT3ekIXdRwo/i2af/L9pEUD9i48E9XY0v7yPVWGRZ/5v8j+1zPo1lLI/Wnebj0HIKku6uto+rRD7esYt7SN9JV0b6wfBX+zyl68SghBJS2qRaZnq62e4Wq38nka+PDN0z6PQhP4oxp6S8L+faPN1jCOisinhuWbVLZKTWxRJEL3/lt1LyyiTCTq1WBFbF0nDzXERfs+j8i+ZjtLZDGaNEdkCjldpkg4FL+LK6E15SF77g9hkfDx1XAdGoN7W9VW8Mrc+XQhs0L0RXpv1TFhX4JKup6Eg=
  app: webapp-ivanov-shop
  run: python manage.py loaddata products.yaml && python manage.py migrate
  on: master
